<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">

<head>
	{{ block "title" . }}
	<title>{{ if .IsHome }}{{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} —
		{{ . }}{{ end }}{{ else }}{{ .Title }} :: {{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} —
		{{ . }}{{ end }}{{ end }}</title>
	{{ end }}
	{{ partial "head.html" . }}
</head>

<body>
	<div class="page-wrap">
		<div class="container full center headings--one-size">
			{{ partial "header.html" . }}
			<div class="content">
				{{ block "main" . }}
				{{ end }}
			</div>
		</div>
	</div>
	{{ block "footer" . }}
	{{ partial "footer.html" . }}
	{{ end }}
</body>

</html>